<div id="homeView">

			<div class="container">
				<div class="homeButton">
					<div class="img back1">
						<span class="icon ion-pinpoint"></span>
						<p>Visit&aacute; todos los atractivos que tiene Jesus Mar&iacute;a para vos</p>
					</div>
				</div>
				<div class="homeButton">
					<div class="img back2">
						<span class="icon ion-calendar"></span>
						<p>Eventos</p>
					</div>
				</div>
				<div class="homeButton">
					<div class="img back3">
						<span class="icon ion-coffee"></span>
						<p>Gastronom&iacute;a</p>
					</div>
				</div>
				<div class="homeButton">
					<div class="img back4">
						<span class="icon ion-key"></span>
						<p>Alojamiento</p>
					</div>
				</div>
					<div class="homeButton">
						<div class="img back5">
						<span class="icon ion-medkit"></span>
						<p>Servicios</p>
					</div>
				</div>
				<div class="homeButton">
						<div class="img back5">
						<span class="icon ion-star"></span>
						<p>Sitios recomendados</p>
					</div>
				</div>
			</div>

</div>
