<div id="homeView">
	<div class="container">
		<div class="homeButton">
			<div class="img back1">
				<p>Visit&aacute; los atractivos que Jesus Mar&iacute;a tiene para vos</p>
			</div>
		</div>
		<div class="homeButton">
			<div class="img back2">
				<p>Eventos</p>
			</div>
		</div>
		<div class="homeButton">
			<div class="img back3">
				<p>Gastronom&iacute;a</p>
			</div>
		</div>
		<div class="homeButton">
			<div class="img back4">
				<p>Alojamiento</p>
			</div>
		</div>
		<div class="homeButton">
			<div class="img back5">
				<p>Servicios</p>
			</div>
		</div>
		<div class="homeButton">
			<div class="img back6">
				<p>Festival</p>
			</div>
		</div>
		<div class="homeButton">
			<div class="img back7">
				<p>Recomendados</p>
			</div>
		</div>
	</div>
</div>
