<div class="liContainer liContainerExtended">
<div class="itemFirstLine">
	<strong class="itemName" id="name"><%= name %></strong>
</div>
<div class="itemSecondLine">
	<span class="itemData">
		<span class="glyphicon glyphicon-home"></span>
		<%= hotelType %>
	</span>
	<span class="itemData">
		<span class="glyphicon glyphicon-map-marker"></span>
		<%= address %>
	</span>
	<span class="itemData">
		<span class="glyphicon glyphicon-phone-alt"></span>
		<a href="tel:<%= phoneNumber %>"><%= phoneNumber %></a>
	</span>
</div>
</div>