<div class="liContainer liContainerCronograma">

<div class="row">
	<div class="col-xs-6">
	<div class="itemFirstLine">
	<strong class="itemName" id="name"><%= name %></strong>
</div>
	<span class="itemData">
		<button type="button" class="btn btn-success">
		<span class="glyphicon glyphicon-tags"></span>General<span class="badge">$42</span>
		</button>
		<button type="button" class="btn btn-success">
		<span class="glyphicon glyphicon-tags"></span>Jubilados<span class="badge">$22</span>
		</button>
		<button type="button" class="btn btn-success">
		<span class="glyphicon glyphicon-tags"></span>Platea Baja<span class="badge">$140</span>
		</button>
		<button type="button" class="btn btn-success">
		<span class="glyphicon glyphicon-tags"></span>Platea Alta<span class="badge">$150</span>
		</button>
		<!-- <span class="itemTxt">Menores Gratis</span>
				<span class="itemTxt">Platea baja: Fila 1 a 4</span>
				<span class="itemTxt">Platea Alta: Fila 4 a 8</span> -->
		<!-- <%= ticketGeneral %> -->
	</span>
	
	</div>
	<div class="col-xs-6">
	<div class="panel panel-default">
	 <div class="panel-heading">Artistas</div>
  		<div class="panel-body">
		<%= description %>
  		</div>
	</div>
	
	</div>
	
</div>
</div>