<div class="liContainer liContainerCronograma">
	<div class="row">
		<div class="itemFirstLine col-xs-12">
			<strong class="itemName" id="name"><%= name %></strong>
		</div>
		<div class="col-xs-6 col-sm-8">
			<div class="artists">
				<%= description %>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4">
			<span class="itemData">
				<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-tags"></span>General<span class="badge"><%= ticketGeneral %></span>
				</button>
				<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-tags"></span>Jubilados<span class="badge"><%= ticketOldMan %></span>
				</button>
				<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-tags"></span>Platea Baja<span class="badge"><%= ticketHigh %></span>
				</button>
				<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-tags"></span>Platea Alta<span class="badge"><%= ticketLow %></span>
				</button>
				<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-tags"></span>Menores<span class="badge"><%= ticketKids %></span>
				</button>
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 scheduleFooter">
			<span>Platea baja: Fila 1 a 4. Platea Alta: Fila 5 a 10</span>
		</div>
	</div>
</div>