<div class="liContainer liContainerTempAccom">
<div class="itemFirstLine">
	<strong class="itemName" id="name"><%= name %></strong>
	<% if ((typeof(garage) !== "undefined") && (garage == "true")){ %>
	<span class="label label-success">Cochera</span>
	<% } %>
</div>
<div class="itemSecondLine">
	<span class="itemData">
		<span class="glyphicon glyphicon-home"></span>
		<%= hotelType %>
	</span>
	<span class="itemData">
		<span class="glyphicon glyphicon-map-marker"></span>
		<%= address %>
	</span>
	<% if ((typeof(phoneNumber) !== "undefined") && (phoneNumber !== null)){ %>
	<span class="itemData">
		<span class="glyphicon glyphicon-earphone"></span>
		<a href="tel:<%= phoneNumber %>"><%= phoneNumber %></a>
	</span>
	<% } %>
	<% if ((typeof(celNumber) !== "undefined")  && (celNumber !== null)){ %>
	<span class="itemData">
		<span class="glyphicon glyphicon-phone"></span>
		<a href="tel:<%= celNumber %>"><%= celNumber %></a>
	</span>
	<% } %>
</div>
<div class="itemSecondLine">
	<span class="itemData">
		<span class="glyphicon glyphicon-comment"></span>
		<%= aditionalInfo %>
	</span>
</div>
</div>