<div id="homeView">

    <div id="wrapper">
        <div class="well">
            <h1> Opciones </h1>

            <div style="text-align: center;">
                <p>
                    <button id="loadHotels" class="btn btn-info">Hoteles</button>
                </p>

                <h4 style="text-align: center">--OR--</h4>

                <p>
                    <button id="loadRestaurants" class="btn btn-info">Restaurantes</button>
                </p>

            </div>

        </div>

    </div>



</div>
