<?xml version='1.0' encoding='utf-8'?>
<widget id="com.diproach.turismo.jesusmaria.entumano" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Jesus Maria en Tu Mano</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
">
        Diproach 
    </author>
    
	<gap:splash src="splash.png" width="720" height="1280" />
	
	<preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="load-url-timeout" value="60000" />
    
    <feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>

	<access origin="*" />
	
	
	<icon src="icon.png" />
	
</widget>